@using SocialMedia.ViewModels.Email
@model ContactFormModel

@{
    ViewData["Title"] = "Contact Us";
}

<h1 class="offset-md-4">@ViewData["Contact Us"]</h1>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1 class="text-center text-white display-4">Contact Us</h1>
        <form asp-controller="Home" asp-action="Contact" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="FromEmail" placeholder="" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="FromEmail"></label>
                <span asp-validation-for="FromEmail" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Subject" placeholder="" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Subject"></label>
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <textarea asp-for="Message" id="textarea-symbols" class="form-control" style="resize: none; height: 250px;" placeholder=""></textarea>
                <label asp-for="Message" class="form-label"></label>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-primary">Send</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}