@{
    ViewData["Title"] = "Internal Server Error";
}

<header class="text-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Something happend with the server!</p>
</header>