@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-md-4 offset-md-4">
        @* <div class="embed-responsive embed-responsive-21by9">
            <video controls class="embed-responsive-item">
                <source src="~/files/98118a91-f22d-4d9e-87bf-6b435d64010f_Nature Beautiful short video 720p HD.mp4" />
            </video>
        </div> *@
        <div id="posts"></div>
        <button id="load-posts-button">Load Posts</button>
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
}
