@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Social Media</h1>
</div>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div id="posts"></div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}

@section Scripts {
    <script src="~/js/site.js"></script>
}
