@using SocialMedia.ViewModels.Post
@using System.Security.Claims
@using static SocialMedia.Common.DataConstants.Post;
@model PostAddFormModel

@{
    ViewData["Title"] = "Add Post";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1 class="text-white display-4 text-center">Add Post</h1>
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="Post" asp-action="Add" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <div class="textarea-container form-floating">
                    <textarea asp-for="Text" id="textarea-symbols" class="form-control" placeholder="" style="resize: none; height: 250px;"></textarea>
                    <label asp-for="Text" class="form-label"></label>
                    <span id="textarea-counter" data-max-length="@TextMaxLength"></span>
                </div>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="File" class="form-label text-white"></label>
                <input asp-for="File" class="form-control" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Supported extensions: jpg, jpeg, png, mp4" placeholder="">
                <span class="fst-italic fw-light text-white">*Max allowed size is 3 MB.</span>
            </div>
            <button type="submit" class="btn btn-primary w-100">Publish Post</button>
        </form>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/textarea-symbols-count.css" />
}

@section Scripts {
    <script src="~/js/textarea-symbols-count.js"></script>
    <partial name="_ValidationScriptsPartial.cshtml" />
}