@using SocialMedia.ViewModels.Post
@using System.Security.Claims
@model PostFormModel

@{
    ViewData["Title"] = "Add Post";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-controller="Post" asp-action="Add" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="Text" class="form-label"></label>
                <textarea asp-for="Text" class="form-control" rows="5" placeholder="Add text to your post" style="resize: none;"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="File" class="form-label"></label>
                <input asp-for="File" class="form-control">
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Publish Post</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}