@using SocialMedia.Extensions

@{
    ViewData["Title"] = "Home Page";
    string currentUserId = this.User.GetUserId();
}

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModal">Delete this post?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                If you delete this post it will be removed from the database.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="delete-button">Delete</button>
            </div>
        </div>
    </div>
</div>
<span class="d-none" id="user-id">@currentUserId</span>

<div class="text-center">
    <h1 class="display-4 text-white">Liked Posts</h1>
</div>

<div class="row d-flex flex-column justify-content-center w-auto">
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/post.css" />
}

@section Scripts {
    <script src="~/js/liked-posts.js"></script>
    @if (TempData["SuccessAdd"] != null)
    {
        <script>
            toastr.options = {
                positionClass: "toast-bottom-right"
            };

            toastr.success('Post added successfully!');
        </script>
    }

    @if (TempData["SuccessEdit"] != null)
    {
        <script>
            toastr.options = {
                positionClass: "toast-bottom-right"
            };

            toastr.success('Post edited successfully!');
        </script>
    }
}
