@model StatisticsViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<h2 class="display-4 text-white text-center">Welcome to the dashboard, Admin!</h2>
<div class="text-white d-flex gap-3 justify-content-center">
    <p>Total Users: @Model.AllTimeUsersCount</p>
    <p>Total Deleted Reports: @Model.ReportedPostsDeletedCount</p>
    <p>Total Admins: @Model.TotalAdminsCount</p>
    <p>Registered Users Last 7 Days: @Model.RegisteredUsersLast7DaysCount</p>
</div>
