@using SocialMedia.Areas.Admin.ViewModels.Announcement
@model IEnumerable<AnnouncementViewModel>

@{
    ViewData["Title"] = "All Announcements";
}

<div class="text-white">
    <h1 class="display-4 text-center">@ViewData["Title"]</h1>
    @if(!this.User.IsInRole("User"))
    {
        <div class="text-center">
            <a asp-controller="Announcement" asp-action="Create" id="announcement-button" class="btn btn-primary">Create Announcement</a>
        </div>
    }

    @foreach (var announcement in Model)
    {
        <h4 class="">@announcement.Title - (@@@announcement.UserUsername @announcement.PublishDate)</h4>
        <p>@announcement.Description</p>
    }
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/announcement-all.css" />
}