@using SocialMedia.Areas.Admin.ViewModels.Announcement
@using static SocialMedia.Common.DataConstants.Announcement
@inject IAdminChatService adminChatService

@model AnnouncementFormModel

@{
    ViewData["Title"] = "Delete Announcement";
    string currentAdminUsername = this.User.GetUsername();
    List<AdminMessageViewModel> messages = await adminChatService.LoadMessagesFromDatabaseAsync();
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1 class="text-white text-center display-4">Delete Announcement</h1>
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="Announcement" asp-action="Delete" method="post">
            <div class="mb-3">
                <div class="form-floating">
                    <input asp-for="Title" class="form-control" placeholder="" disabled>
                    <label asp-for="Title" class="form-label"></label>
                </div>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <div class="textarea-container form-floating">
                    <textarea asp-for="Description" id="textarea-symbols" class="form-control" placeholder="" style="resize: none; height: 250px;" disabled></textarea>
                    <label asp-for="Description" class="form-label"></label>
                    <span id="textarea-counter" data-max-length="@DescriptionMaxLength"></span>
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-danger w-100">Delete Announcement</button>
        </form>
    </div>
</div>

<partial name="_ChatPartial" model="@messages" />

@section Styles {
    <link rel="stylesheet" href="~/css/textarea-symbols-count.css" />
    <link rel="stylesheet" href="~/css/admin-chat.css" />
}

@section Scripts {
    <script src="~/js/textarea-symbols-count.js"></script>
    <partial name="_ValidationScriptsPartial.cshtml" />
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/admin-chat.js"></script>
    <script>
        let currentAdminUsername = '@@@currentAdminUsername';

        var connection = new signalR.HubConnectionBuilder().withUrl("/adminChatHub").build();

        document.getElementById("send-button").disabled = true;

        connection.on("ReceiveMessage", function (user, message) {
            var li = document.createElement("li");
            document.getElementById("messages-list").appendChild(li);

            let span = document.createElement('span');
            span.classList.add('new-message');
            span.textContent = '*NEW';

            li.appendChild(span);
            li.innerHTML += `${user}: ${message}`;
        });

        connection.start().then(function () {
            document.getElementById("send-button").disabled = false;
        }).catch(function (err) {
            return console.error(err.toString());
        });

        document.getElementById("send-button").addEventListener("click", function (event) {
            var message = document.getElementById("message-input").value;
            if (message.length > 0) {
                document.getElementById("message-input").value = '';
                connection.invoke("SendMessage", currentAdminUsername, message).catch(function (err) {
                    return console.error(err.toString());
                });
                event.preventDefault();
            }
        });
    </script>
}