@model List<AdminMessageViewModel>

<div class="chat-icon">
    <i class="fa-regular fa-comment-dots"></i>
</div>

<div class="chat-container d-flex flex-column justify-content-between d-none">
    <div class="first-column d-flex justify-content-between">
        <p class="m-0"><i class="fa-solid fa-users"></i> Admin Chat</p>
        <div class="x-icon">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>

    <div class="second-column d-flex flex-column justify-content-between">
        <span id="scroll-down"><i class="fa-solid fa-arrow-down"></i></span>
        <ul id="messages-list">
            @foreach (var adminMessage in Model)
            {
                <li>@adminMessage.Username: @adminMessage.Message <span>(Sent on: @adminMessage.SentDate)</span></li>
            }
        </ul>
        <div class="admin-input-container d-flex justify-content-between">
            <input type="text" class="w-100 me-1" id="message-input" placeholder="Message" />
            <button id="send-button" class="btn">Send <i class="fa-solid fa-paper-plane"></i></button>
        </div>
    </div>
</div>
