.chat-icon {
    background-color: white;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0 20px 20px 0;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

    .chat-icon i {
        position: relative;
        font-size: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #818181;
    }

.chat-container {
    width: 400px;
    height: 600px;
    background-color: white;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0 20px 20px 0;
    padding: 10px;
    border-radius: 5px;
}

    .chat-container .first-column {
        border-bottom: 1px solid black;
    }

    .chat-container .second-column {
        height: 95%;
    }

#messages-list {
    height: 100%;
    overflow-y: scroll;
    list-style: none;
    padding: 0;
    margin-top: 4px;
    margin-bottom: 6px;
    scroll-behavior: smooth;
}

    #messages-list li {
        word-break: break-word;
    }

        #messages-list li .date-span {
            display: none;
            font-style: italic;
            color: black;
        }

        #messages-list li:hover .date-span {
            display: inline;
        }

.new-message {
    color: cornflowerblue;
    font-weight: bold;
    font-style: italic;
    font-size: 10px;
    vertical-align: top;
}

#send-button {
    width: 100px;
    border: none;
    background-color: #879bde;
    border-radius: 5px;
}

    #send-button:hover {
        background-color: #788ac5;
    }

.admin-input-container {
    border-top: 1px solid black;
    padding-top: 5px;
}

.x-icon i {
    color: #c93e3e;
    cursor: pointer;
    font-size: 22px;
}

    .x-icon i:hover {
        color: #b33636;
    }

#scroll-down {
    background-color: darkgrey;
    border-radius: 50%;
    padding: 10px 15px 10px 15px;
    bottom: 60px;
    right: 25px;
    position: absolute;
}

    #scroll-down:hover {
        cursor: pointer;
    }

#scroll-down i {
    color: black;
}

@media(max-width: 440px) {
    .chat-container {
        width: 100%;
        height: 60%;
        margin: 0;
    }
}
