.demote-container {
    border-radius: 5px;
    background-color: #212529;
    width: 60%;
    margin: 0 auto;
}

.detailed-information-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

    .detailed-information-container p {
        margin: 0;
        word-break: break-word;
    }

.current-email, .current-role, .joined-date {
    text-align: center;
    border: 3px solid white;
    border-radius: 5px;
    padding: 10px;
    flex-basis: 200px;
}

#demote-button {
    background-color: #893c2f;
    border-color: #893c2f;
    color: white;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
}

    #demote-button:hover {
        background-color: #713126;
        border-color: #713126;
        color: white;
    }

#message {
    margin-top: 10px;
    text-align: center;
}
