.btn-demote {
    background-color: #893c2f;
    border-color: #893c2f;
    color: white;
}

    .btn-demote:hover {
        background-color: #713126;
        border-color: #713126;
        color: white;
    }

.btn-apply {
    background-color: #489991;
    color: #ffffff;
    border-color: #489991;
}

    .btn-apply:hover {
        background-color: #3c7f78;
        border-color: #3c7f78;
        color: #ffffff;
    }

.btn-clear {
    background-color: #89a1b5;
    color: #ffffff;
    border-color: #89a1b5;
}

    .btn-clear:hover {
        background-color: #758a9b;
        border-color: #758a9b;
        color: #ffffff;
    }
