@model PreviewViewModel
@inject IAdminChatService adminChatService

@{
    ViewData["Title"] = $"{Model.Username} Reported Post";
    string currentAdminUsername = this.User.GetUsername();
    List<AdminMessageViewModel> messages = await adminChatService.LoadMessagesFromDatabaseAsync();
}

<span class="d-none" id="post-id">@Model.PostId</span>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete this post?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                If you delete this post it will be removed from the database.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="delete-button">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="row d-flex flex-column justify-content-center w-auto">
    
</div>

<partial name="_ChatPartial" model="@messages" />

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/post.css" />
    <link rel="stylesheet" href="~/css/admin-chat.css" />
}

@section Scripts {
    <script src="~/js/post.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/admin-chat.js"></script>
    <script>
        let currentAdminUsername = '@@@currentAdminUsername';

        var connection = new signalR.HubConnectionBuilder().withUrl("/adminChatHub").build();

        document.getElementById("send-button").disabled = true;

        connection.on("ReceiveMessage", function (user, message) {
            var li = document.createElement("li");
            document.getElementById("messages-list").appendChild(li);

            let span = document.createElement('span');
            span.classList.add('new-message');
            span.textContent = '*NEW';

            li.appendChild(span);
            li.innerHTML += `${user}: ${message}`;
        });

        connection.start().then(function () {
            document.getElementById("send-button").disabled = false;
        }).catch(function (err) {
            return console.error(err.toString());
        });

        document.getElementById("send-button").addEventListener("click", function (event) {
            var message = document.getElementById("message-input").value;
            if (message.length > 0) {
                document.getElementById("message-input").value = '';
                connection.invoke("SendMessage", currentAdminUsername, message).catch(function (err) {
                    return console.error(err.toString());
                });
                event.preventDefault();
            }
        });
    </script>
}

