@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 class="text-white">@ViewData["Title"]</h1>
<p class="text-white">
    Please check your email to reset your password.
</p>
